@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic,cyrillic-ext');
@font-face {
    font-family: AvantGarde;
    src:  url(../../../fonts/13454.otf);
}
$titleFont: AvantGarde;
$genFont: 'PT Sans', sans-serif;
